body{
    font-family:"Source Sans Pro",sans-serif;
    background: #ff00cc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mainNavbar .navbar-brand{
	font-weight:700;
	font-size:1.2rem;
	color:white;
	font-style:italic;
}
#mainNavbar .nav-link{
	font-weight:700;
	font-size:1.2rem;
	color:white;
	font-style:italic;
}
#mainNavbar .nav-link:hover{
	
	color: navy;
}
h3,h5{
	font-weight:900;
	font-style:italic;
	color:white;
}
.card h4{
	border: 1px solid transparent;
	background-color: black;
	font-weight:400;
	font-size:1.5rem;
	text-align: center;
	
}
.card-title{
	font-weight:900;
	font-style:italic;
	font-size:1.8rem;
}
.card .card-text{
	font-weight: 900;
	
	
}
#gallery .card .card-body{
	background-color: #EA1985;
}
#gallery .card .card-img-top:hover{
    background-color:#EA1985;
}

@media screen and (max-width:1200px){
	
	.card-title{
		font-size:2.5rem;
	}
	.card-text{
		font-size:1.8rem;
	}
}