body{
    font-family:"Source Sans Pro",sans-serif;
    background: #ff00cc;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #333399, #ff00cc);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #333399, #ff00cc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#mainNavbar .navbar-brand{
	font-weight:700;
	font-size:1.2rem;
	color:white;
	font-style:italic;
}
#mainNavbar .nav-link{
	font-weight:700;
	font-size:1.2rem;
	color:white;
	font-style:italic;
}
#mainNavbar .nav-link:hover{
	
	color: navy;
}
.header{
    
    padding-top:5px;
    padding-bottom:3px;
    margin-top:25px;
    color:white;
    font-style:italic;
}
.match .teams{
    font-size: 24px;
    color: white;
    line-height: 1;
    margin-left: 20px;
    font-family: "SourceSansPro-SemiBold",sans-serif;
    font-weight: 600;
}
.match .date{
    font-size:18px;
    color:white;
}
.match .venue{
    font-size:18px;
    color:white;
    text-transform: uppercase;
}
